body {
    padding: 100px;
}
.submit-area {
    margin-top: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 12px;
    padding: 40px;
}
#transiction-area {
    display: none;
}
.section {
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 12px;
}
.deposit {
    background-color: slateblue;
}
.withdraw {
    background-color: lightsalmon;
}
.balance {
    background-color: springgreen;
}